@page "/PlanningPoker/Room/{id}"
@using Microsoft.AspNetCore.SignalR.Client;
@using Blazored.LocalStorage;
@using Website.Settings;
@using Website.Shared.Models.PlanningPoker;

@inject NavigationManager NavigationManager;
@implements IAsyncDisposable;
@inject HubConnection hubConnection;
@inject ILocalStorageService _localStorage;
@inject NavigationManager Navigation;

<h1>@Id : @account.Username</h1>

<hr />

<ul id="messagesList">
    @foreach (var member in members)
    {
        <li>@member.Username</li>
    }
</ul>

@code {
    [Parameter]
    public string Id { get; set; }

    private PokerAccount account = new PokerAccount();
    private List<PokerMember> members = new List <PokerMember>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection.On<List<PokerMember>>("MembersChanged", (newMembers) =>
        {
            members = newMembers;
            StateHasChanged();
        });

        await GetAccount();

        await hubConnection.StartAsync();

        await hubConnection.SendAsync("JoinRoom", Id, account.Username);
    }

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }

    private async Task<PokerAccount> GetAccount()
    {
        var pokerAccount = await _localStorage.GetItemAsync<PokerAccount>(LocalStorageNames.PlanningPokerAccount);

        if (pokerAccount == null || !pokerAccount.RoomName.Equals(Id))
        {
            Navigation.NavigateTo($"/PlanningPoker/Find");
        }

        account = pokerAccount;
        return pokerAccount;
    }
}
