@page "/Admin"

@using Microsoft.AspNetCore.Authorization
@using Website.Services.Interfaces;
@attribute [Authorize]
@inject IAdminService _adminService; 

<h1>@welcomeMessage</h1>

@code {
    private string welcomeMessage;

    protected override async Task OnInitializedAsync()
    {
        welcomeMessage = (await _adminService.GetIndex())?.WelcomeMessage;
    }
} 