@page "/admin/blog"

@layout AdminLayout

@using BlazorTable;
@using Website.Shared.Models;
@using Website.Services.Interfaces;
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager Navigation;
@attribute [Authorize]

<h3>Component1</h3>

@code {

}
