@page "/admin/storage"
@layout AdminLayout

@using Website.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@if (ShowValidation)
{
    <div class="alert alert-warning" role="alert">
        Id must be a GUID
    </div>
}

<h1>Upload File</h1>

<EditForm EditContext="@newFileContext">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            <InputText @bind-Value="NewFileID" />
            <InputFile OnChange="@LoadFileInMemory" class="form-control"/>
            <button type="button" class="btn btn-success" @onclick="UploadNewFile">Upload file</button>
        </label>
    </p>
</EditForm>

    @TempMessage

    @code {
        private string TempMessage;
        private bool ShowValidation;
        private string NewFileID;

        private AddFileRequest NewFile = new();

        private EditContext newFileContext;

        protected override void OnInitialized()
        {
            newFileContext = new(NewFile);
        }

        private void LoadFileInMemory(InputFileChangeEventArgs e)
        {
            IBrowserFile browserFile = e.File;
            using var content = new MultipartFormDataContent();
            NewFile.Body = new StreamContent(browserFile.OpenReadStream());
            NewFile.Name = browserFile.Name;
            NewFile.Type = browserFile.ContentType;
        }

        private void UploadNewFile()
        {
            if (Guid.TryParse(NewFileID, out Guid newID))
            {
                NewFile.ID = newID;
            }
            else
            {
                ShowValidation = true;
            }

            TempMessage = "Upload new file: " + NewFile.Name + " Type: " + NewFile.Type;
        }
    }
