@page "/logging"

@layout AdminLayout

@using BlazorTable;
@using Website.Shared.Models.BackendInfo;
@using Microsoft.AspNetCore.Authorization;
@using Website.Services.Interfaces;

@attribute [Authorize]
@inject ILoggingService _loggingService;

<input type="date" @bind="startDate" />
<input type="date" @bind="endDate" />
<button type="button" class="btn btn-primary" @onclick="GetLogging">Search Log</button>

<Table class="table table-striped table-dark table-bordered table-hover" TableHeadClass="thead-light" TableItem="LogItem" Items="logs" PageSize="10" ShowSearchBar="true">
    <Column TableItem="LogItem" Title="Text" Field="@(x => x.Text)" Sortable="true" Filterable="false" Width="80%" />
    <Column TableItem="LogItem" Title="Created" Field="@(x => x.Created)" Sortable="true" Filterable="false" Width="20%" />
    <Pager ShowPageNumber="true" ShowTotalCount="true" />
</Table>

@code {
    DateTime? startDate = null;
    DateTime? endDate = null;

    LogItem[] logs = new LogItem[0];

    protected override async Task OnInitializedAsync()
    {
        await GetLogging();
    }

    private async Task GetLogging()
    {
        var response = await _loggingService.GetLogging(startDate, endDate);

        if (response.Succeed)
        {
            logs = response.Logs.ToArray();
        }
    }
}
