#icon-madworld {
    height: 50px;
}

.menubar {
    background-image: linear-gradient(45deg, rgb(0, 51, 0) 0%, #009900 70%);
}

.dropdown-menu-custom {
    background-color: #009900;
}

@media all and (min-width: 840px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    .dropdown-menu-tools {
        width: 200px;
    }
}	

