@using Microsoft.AspNetCore.Components.Authorization
@using Website.Services.Interfaces;
@inject NavigationManager Navigation
@inject IAuthenticationService _authenticationService;

<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top menubar">
    <div class="container-fluid">
        <img id="icon-madworld" src="images/icons/RieMasudaIcon.png" />
        <a class="navbar-brand" href="#">Mad-World</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="resume">
                        <span class="oi oi-clipboard" aria-hidden="true"></span> Resume
                    </NavLink>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item px-3 dropdown">
                            <a id="account-dropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @onclick="ExpendAccount">
                                <span class="oi oi-key" aria-hidden="true"></span> Extra's
                            </a>
                            <div class="dropdown-menu-custom dropdown-menu @menuAccountExpended" aria-labelledby="account-dropdown">
                                <NavLink class="nav-link" href="account">
                                    <span class="oi oi-eye" aria-hidden="true"></span> Account
                                </NavLink>
                                <NavLink class="nav-link" href="admin">
                                    <span class="oi oi-grid-three-up" aria-hidden="true"></span> Admin
                                </NavLink>
                                <NavLink class="nav-link" @onclick="BeginSignOut">
                                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                                </NavLink>
                            </div>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="login">
                                <span class="oi oi-account-login" aria-hidden="true"></span> Login
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {

    private string menuAccountExpended = string.Empty;

    private void ExpendAccount()
    {
        menuAccountExpended = string.IsNullOrEmpty(menuAccountExpended) ? "show" : string.Empty;
    }

    private void BeginSignOut()
    {
        _authenticationService.Logout();
        Navigation.NavigateTo("/");
    }
}