@page "/privacy"

<h2>Privacy</h2>

<p>We are using the follow analysing tools:</p>
<ul>
    <li>Smartlook</li>
</ul>

<h3>Smartlook</h3>
<p>Smartlook is a qualitative analytics solution for websites and mobile apps helping over 300,000 businesses of all sizes and industries answer the “whys” behind their users’ actions.</p>
<p>Source: <a href="https://www.smartlook.com/" target="_blank">https://www.smartlook.com/</a></p>
@code {

}
